{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
<h1>My Todo List</h1>
{% if todos %}
<a class="btn btn-primary" href="{% url 'create todo' %}">Create</a>
    <div class="container">
        {% for todo in todos %}
            <div class="todo">
                <p>{{ todo.title }}</p>
                <div class="description">{{ todo.description }}</div>
                {% if todo.state is True %}
                    <div class="done">
                        <p>Done</p>
                    </div>
                {% else %}
                    <div class="open">
                        <p>Not Done</p>
                    </div>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'edit todo' todo.id %}">Edit</a>
                <a class="btn btn-primary" href="{% url 'delete todo' todo.id %}">Delete</a>
                {% if todo.state is False %}
                    <a class="btn btn-primary" href="{% url 'check todo' todo.id %}">Todo DONE</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'restart todo' todo.id %}">Restart</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No TODOs</h2>
    <h2>Go to <a href="{% url 'create todo' %}">create TODO</a> to create a new TODO</h2>
{% endif %}
</body>
</html>